.skills-container {
    width: 100%;
    box-sizing: border-box;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 128px;
    background: #272727;; 
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin-top: 0px
}

.skills-columns {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   width: 100%;
}

.skills-column {
    text-align: center;
}

.h1skills {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    
}

.h3skills {
    display: inline-flex;
    align-items: flex-start;
    color: #FFF;
    background-color: #FF70D9;
    padding: 8px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.skills-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500; 
    margin-right: 40px;
    color: white;
}

.h3tools {
    display: inline-flex;
    align-items: flex-start;
    color: #FFF;
    background-color:#8a2be2;
    padding: 8px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

.h3more {
    display: inline-flex;
    align-items: flex-start;
    color: #FFF;
    background-color: #95D175;
    padding: 8px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
   .skills-container {
    width: 100%;
   }
}
   
    .skills-columns {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
    }

    .h1skills {
        font-size: 80px;
    }

    .h3skills, 
    .h3tools,
    .h3more {
       font-size: 36px; 
       font-weight: 800;
    }

    .skills-item {
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       font-size: 24px;
       font-weight: 500; 
       margin-right: 40px;
    }


@media screen and (min-width: 1024px) {
    .skills-container {
        width: 100%;
    }
    
      
    .skills-columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 15px;
        margin-right: 15px;
    }

    .h1skills {
        font-size: 80px;
    }

    .h3skills, 
    .h3tools,
    .h3more {
       font-size: 36px; 
       font-weight: 800; 
    }

    .skills-item {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       font-size: 24px;
       font-weight: 500; 
       margin-right: 40px;
    }
}