.scroll-text-wrapper {
    width: 100vw;
    height: 114px;
    overflow: hidden; 
    position: relative;
    background: #FF4575;
}

.scroll-text {
display: flex;
justify-content: center;
align-items: center;
white-space: nowrap;
position: absolute;
animation: scroll-text 20s linear infinite;
color: white;
font-size: 26px;
}

@keyframes scroll-text {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform:translateX(-100%);
  }
}