.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 128px 16px;
    background: #8FBC8F; 
}

.skills-columns {
   display: grid;
   gap: 64px; 
}

.skills-column {
    text-align: center;
}

.h1skills {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}

.h3skills {
    display: inline-flex;
    align-items: flex-start;
    color: #FFF;
    background-color: #FF4575;
    padding: 8px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    text-align: center;
}

.skills-item {
    color: #FFF;  
    text-align: center;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    list-style-type: none; 
}

.h3tools {
    display: inline-flex;
    align-items: flex-start;
    color: #FFF;
    background-color: #2483e0;
    padding: 8px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    text-align: center;
}

.h3more {
    display: inline-flex;
    align-items: flex-start;
    color: #FFF;
    background-color: #6db486;
    padding: 8px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}