.projects-container {
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    padding: 128px 16px 50px 16px;
    flex-direction: column;
    align-items: center; 
    background-color: white;
}

.h1projects {
    align-self: stretch;
    color: #FF70D9;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px; /* 117.857% */
}

.project-card {
  display: grid;
  flex-direction: 1fr;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
  margin-left: 15px;
  margin-right: 20%;
}

.projectimage {
  height: auto;
  width: 100%;
  max-width: 300px;
  border-bottom: 10px solid #272727;
  border-left: 10px solid #272727;  
  margin-left: 20px;
  margin-right: 20px;
}

.project-text-container {
  text-align: left; 
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}

.h2projectcard {
  color: black;
}

.pprojectcard {
  color: black;
}

.project-info {
  grid-column: 2;
  text-align: left;
  margin-top: 20px;
}

.viewbutton-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
 
.netlifybutton,
.githubbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  background: #f5f5f5;
  gap: 6px;
  align-self: stretch; 
  border-radius: 30px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s, padding 0.3s, border-radius: 0.3;
  padding: 8px 12px;
  max-width: 160px;
}



.netlifybutton:hover {
  background-color: #FF70D9;
  color: white;
}

.githubbutton:hover {
  background-color: #8a2be2; 
  color: white;
}

.githubbutton:hover img,
.netlifybutton:hover img {
  filter: brightness(0) invert(1);
}



.ptags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 5px;
}

.ptags {
  background: #000;
  color: white;
  text-align: left;
  font-weight: 600;
  padding: 2px 6px;
  margin-right: 5px;
}

.icons-wrapper {
  margin: 20px;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {

.projects-container {
  box-sizing: border-box;
  width: 100%;
}

.project-card {
  max-width: 60%;
  margin-left: 25%;
}
.project-image {
  min-width: 70%;
  min-height: 70%;
}

.viewbutton-container {
display: flex;
flex-direction: row;
} 
}

@media screen and (min-width: 1024px) {
  .projects-container {
    width: 100%;
    box-sizing: border-box;
  }
  
  .h2projectcard {
    font-size: 24px;
  }
  .project-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    gap: 30px;
    margin-right: 120px;
    margin-left: 120px;
  }

  .projectimage {
    grid-row: span 2;
  }

.project-text-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: left;
    width: 75%;
  }

  .viewbutton-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    align-items: center;
    margin-left: 20px;
  }
}

