root {
  background-color: #283818;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.about-us {
    background-color: #283818;
    color: white;
    padding: 20px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.company-info {
    text-align: center;
    max-width: 70%;
  }
  
  .h1company {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 40px;
  }
  
  .pcompany {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .staff-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 200px;
    text-align: center;
  }
  
  .staff-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .staff-text-container {
    margin-top: 15px;
  }
  
  .h2staffcard {
    color: #283818;
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .pstaffcard {
    color: #283818;
    font-size: 14px;
  }

  .home-button {
    color: white;
    background-color: #283818;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px; 
  }
