.headerbox {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   box-sizing: border-box;
   padding: 2rem;
   background-color: white;
}

.logotyp {
    width: 25%;
    height: auto;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links .nav-link {
  text-decoration: none;
  color: #283818;
  margin-right: 20px;
  transition: color 0.3s ease;
  font-weight: 500;
  font-size: 16px;
}

.nav-links .nav-link:hover {
  color: #547c4d;
  text-decoration: underline;
  font-weight: 700;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: block;
    position: absolute;
    top: 70px;
    right: 10px;
    background: white;
    width: 80%;
    max-width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }

  .nav-links.open ul {
    display: block;
    padding: 1rem;
  }

  .nav-links.open .nav-link {
    display: block;
    margin: 10px 0;
    font-size: 18px;
  }

  .menu-icon {
    display: block;
  }

  .logotyp {
    width: 30%;
  }
}

@media screen and (max-width: 599px) {
  .logotyp {
    width: 40%;
  }

  .nav-links.open {
    top: 60px;
    right: 10px;
  }
}
