.headerbox {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   box-sizing: border-box;
}

.logotyp {
    flex: 1;
    max-width: 25%;
    height: auto;
}

.nav-links {
  text-align: right;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
}

.nav-links .nav-link {
  text-decoration: none;
  color: #283818;
  margin-right: 20px;
  transition: color 0.3s ease;
  font-weight: 500;
  font-size: 16px;
}

.nav-links .nav-link:hover {
  color: #547c4d;
  text-decoration: underline;
  font-weight: 700;
}


@media screen and (min-width: 600px) and (max-width: 1024px) {
    .headerbox {
        display: flex;
        align-items: center;
        justify-content: space-around;
     }
     
     .logotyp {
         width: 30%;
         height: auto;
     }
     
     .h1intro {
         font-size: 14px;
         color: #283818;
     }
}


@media screen and (min-width: 1024px) {
    .headerbox {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
     }
     
     .logotyp {
         width: 18%;
         height: auto;
     }
     
     .h1intro {
         font-size: 30px;
         color: #283818;
     }
     
   /* Show desktop-nav on larger screens */
  .nav-links {
    display: flex;
  }

  .nav-links ul {
    list-style-type: none;
    display: flex;
  }

  .nav-links .nav-link {
    text-decoration: none;
    color: #283818;
    margin-right: 20px;
    transition: color 0.3s ease;
    font-weight: 500;
    font-size: 16px;
  }

  .nav-links .nav-link:hover {
    color: #547c4d;
    text-decoration: underline;
    font-weight: 700;
  }


}