.headerbox {
   display: flex;
   flex-direction: row;
   width: 100%;
}

.img {
    width: 70%;
    height: 70%;
}

.h1 {
    align-items: center;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {

}

@media screen and (min-width: 1024px) {
    
}