.intro {
    box-sizing: border-box;
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.introbox {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.introbox-desktop {
    display: none;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 20px;
    padding-right: 20%;
    margin-left: 40px;

}

.profile-image {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
}

.h3intro {
    color: #272727;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
    align-self: stretch;
}

.h1intro {
    color: #FF70D9;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: 10px;
}

.pintro {
    color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: left;  
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.arrow {
    width: 27px;
    height: 68px;
    margin-top: 20px;
}


@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-10px);
      }
      60% {
        transform: translateY(-5px);
      }
    }
    
    .arrow-image {
      animation: jump 2s infinite;  
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .introbox  {
        .introbox {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin-left: 30px;
            margin-right: 30px;
        }
    }

    .introbox-desktop {
        display: none;
    }

    .headings {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    
    .intro {
        padding: 40px 32px;
    }

    .h1intro {
        font-size: 55px;
        margin-top: 10px;
    }

    .h3intro {
        font-size: 35px;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-bottom: 20px;
        padding-right: 20%;
        margin-left: 40px;
    }

    .profile-image {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .pintro {
        text-align: left;
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
     .intro {
        width: 100%;
     }
    

    .introbox {
        display: none;
    }
    
    .introbox-desktop {
        margin: 0 auto;
        padding: 128px 64px;
        display: grid; 
        grid-template-columns: 1fr 580px;
        grid-template-rows: auto auto;
    }

    .headings {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .h3intro {
        font-size: 32px;
    }

    .h1intro {
        font-size: 80px;
    }
  
  
    .profile-image {
      grid-row: 2;
    }

    .pintro {
        grid-row: 2;
        grid-column: 2;
        font-size: 18px;
    }
  
}