@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

.intro-container {
padding: 30px;  
margin-bottom: 20px;
}


.intro {
 display: flex;
 align-items: center;
 justify-content: space-around;
 margin-bottom: 30px;
}

.text-box, 
.intro-image {
    flex: 1;
    padding: 50px;
}

.h2-text {
font-family: "Wix Madefor Display", sans-serif;
font-size: 30px;
color: black;
}

.ptext {
color: black;
}

.intro-image {
display: flex;
justify-content: center;
align-items: center;
}

.introimage {
    max-width: 100%;
    border-color: #BC6C25;
    border-radius: 50%;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) {

}