.tech {
    box-sizing: border-box;
    background: #272727;
    padding: 32px 16px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 100%;
}

.techwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.h1tech {
color: #FFF;
text-align: center;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.ptech {
    width: 80%;
    color: #FFF;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;   
}

@media screen and (min-width: 600px) {
    .tech {
        width: 100%;
    }
    .techwrapper {
        margin-left: 20px;
        margin-right: 20px;
    }

    .ptech {
        width: 80%;
    }
}

@media screen and (min-width 1024px) {
    .tech {
        padding: 128px 64px;
    }

    .techwrapper {
        margin-left: 25px;
        margin-right: 25px;
    }

    .ptech {
        width: 80%;
        margin-left: 32px;
        margin-right: 32px;
    }
}