.footer {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.fiveIcon {
    width: 30%;
    height: auto;
}

.logotyp {
    width: 100%;
    height: auto;
}

.CreatedBy {
margin-top: 20px;
font-size: 14px;
color: black;
}

.footer a { 
    text-decoration: none;
    font-weight: normal;
}

.footer a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    .fiveIcon {
        width: 30%;
        height: auto;
    }
    .logotyp {
        width: 50%;
        height: auto;
    }
    
    .CreatedBy {
    margin: 14px;
    font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .fiveIcon {
        width: 28%;
        height: auto;
    }
    .logotyp {
        width: 40%;
        height: auto;
    }
    
    .CreatedBy {
    margin: 18px;
    font-size: 14px;
    }
}