.footer {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.fiveIcon {
    width: 40%;
    height: auto;
}
.logotyp {
    width: 80%;
    height: auto;
}

.CreatedBy {
margin: 10px;
font-size: 14px;
}

.footer a { 
    text-decoration: none;
    font-weight: normal;
}

.footer a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    .fiveIcon {
        width: 30%;
        height: auto;
    }
    .logotyp {
        width: 90%;
        height: auto;
    }
    
    .CreatedBy {
    margin: 14px;
    font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .fiveIcon {
        width: 28%;
        height: auto;
    }
    .logotyp {
        width: 1000%;
        height: auto;
    }
    
    .CreatedBy {
    margin: 18px;
    font-size: 14px;
    }
}