@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.contact-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #283818;
}

.about-us {
  width: 100%;
  max-width: 800px;
  color: white;
  background-color: #283818;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}
  
  .h1company {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: "Wix Madefor Display", sans-serif;
  }
  
  .pcompany {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    margin: 0;
  }

  .contact {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px;
}


  .contact-detail-page {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
  }

  .home-button {
    color: white;
    background-color: #283818;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px; 
  }

  @media screen and (min-width: 600px) and (max-width: 1023px) {
  
    .h1company {
      font-size: 32px;
  }

  .pcompany {
      font-size: 18px;
  }

  .contact-detail-page {
      font-size: 16px;
  }

  .home-button {
      font-size: 18px;
      padding: 12px 24px;
  }
}

  @media screen and (min-width: 1024px) {

    .h1company {
      font-size: 36px;
  }

  .pcompany {
      font-size: 20px;
  }

  .contact-detail-page {
      font-size: 18px;
  }

  .home-button {
      font-size: 20px;
      padding: 14px 28px;
  }
}
