.contact {
  background: #283818;
  width: 100%;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 40px;
  color: white;
}

.contact-info {
  width: 80%;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-detail {
  font-size: 16px;
  margin-bottom: 15px;
}

