.contact {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: white;
  padding: 40px;
}

.contact-box {
  max-width: 60%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);;
  color: #283818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h2contact {
  font-size: 50px;
  color:#283818;
}

.logotyp {
  width: 200px; /* Adjust image size as needed */
  height: auto;
  margin-bottom: 20px; /* Add margin for spacing */
}


.contact-info {
  max-width: 60%;
}


.contact-detail {
  font-size: 16px;
  margin-bottom: 15px;
}

.button {
  margin-top: 40px;
}

.home-button {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #283818;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
